* {
    margin: 0;
    padding: 0;
}

.channel-list {
    height: 70%; 
    background:url('./assets/grey\ texture.png');
}

.footer {
    height: 30%;
}

body {
    width: 100vw;
    height: 100vh;
    background: #cdd0d7 
}