* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.channel-pannel {
    height: 782px; 
    background:url('./assets/grey\ texture.png');
    border-bottom: 10px #34beed solid;
    box-shadow: 0px 0px 160px rgba(95, 93, 93, 0.986) ;
}

.footer {
    position: relative;
    height: 30%;
}

.channel {
    position: relative;
    overflow: hidden;
    width: 387px;
    height: 213px;
    display: inline-block;
    margin: 5px 7px;
}

.channel-empty {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 387px;
    height: 213px;
    display: inline-block;
    margin: 5px 7px;
}

.channel-blur, .channel-blur-later, .channel-blur-sooner{
    position: absolute;
    top: 20px;
    width: 98%; 
    height: 10%;
    background: rgba(255, 255, 255, 0.05);
    animation: va-et-vien 3s alternate infinite ease-in-out;
    animation-delay: 5s;
}

.channel-blur-sooner {
    animation: va-et-vien 2s alternate infinite ease-in-out;
    animation-delay: 1s;
}

.channel-blur-later {
    animation: va-et-vien 5s alternate infinite ease-in-out;
    animation-delay: 10s;
}

@keyframes va-et-vien {
    0% {
        top: 20px
    }

    100% {
        top: 190px;
    }
}
.channel-picture {
    width: 100%;
}

.channel-table {
    position: relative;
    top: 75px;
    left: 160px;
    width: 1620px;
}

.screen-box {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    border: 1px solid black;
}

.round-thing-left, .round-thing-right{
    position: absolute;
    background-color: rgba(95, 93, 93, 0);
    top: 30px;
    height: 225px;
    width: 300px;
    border: 10px #b3b5bb solid;
    box-shadow: -2px 20px 22px -3px rgba(93, 93, 93,0.7);
}

.round-thing-right {
    right: -10px;
    border-radius:  48% 0 0 48%;
}

.round-thing-left {
    left: -10px;
    border-radius: 0 48% 48% 0;
}

#clock {
    font-family: "wii"; 
    color: #9b9b9b;
    position: relative;
    left: 780px;
    top: 100px;
    font-size: 120px;
}

.sd-card {
    position: absolute;
    left: 358px;
    top: 110px;
    height: 100px;
    width: 75px;
    box-shadow: 5px 15px 15px -3px rgba(93, 93, 93,0.7);
}

@font-face {
    font-family: 'wii';
    src: url("./assets/clock-font.ttf") format("truetype");
}
