* {
    margin: 0;
    padding: 0;
}

.channel-list {
    height: 70%; 
    background:url('./assets/grey\ texture.png');
    border-bottom: 10px #34beed solid;
    box-shadow: 0px 0px 160px rgba(95, 93, 93, 0.986) ;
}

.footer {
    height: 30%;
}

body {
    width: 100vw;
    height: 100vh;
    background: #cdd0d7 
}